@import '@fontsource/plus-jakarta-sans';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #0f172a; /* slate-900 */
  color: #e2e8f0; /* slate-200 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
